{% extends "base.html" %}
{% load i18n %}
{% block body %}

<section class="beer">
<div class="beer-intro" id="beer-intro">
	<div class="container">
		<h1>TREZOR Beer Fund!</h1>
	</div>
	
	<div class="container">
		<div class="col-lg-8 text">
			<div>
				<p>
					Did we help you beyond your expectations? Resolved your issues quickly? Recovered your coins sent to a wrong address? 
				</p>
				<p>
					Glad to hear we could assist you!
				</p>
			</div>
			
		</div>
		<div class="col-lg-4 beeremoji">
		
		</div>
		
	</div>
</div>


<div class="beer-cta" id="beer-cta">
	<div class="container">
		<h3>Say thanks with beer!</h3>
			<div class="col-lg-6 text">
			<p>
				Until recently, "thanks for your kind words" was all we could say. But due to popular demand, we have decided to start accepting tips to our Support Team and our Developers, in form of crypto-donations. They do deserve your appreciation, after all.
			</p>
			<p>
				And what's the best way you can say thanks in Prague? <br />By buying beer, of course!
			</p>
			
			</div>
		<div class="row" data-toggle="modal" data-target="#myModal">
			<div class="container">
			<div class="col-sm-4 center-button">
				<a href="{% url '/beer/#btc' %}" class="nav-link">
                    <i class="altcoins-logo altcoins-logo-ltc" aria-hidden="true"></i>
                    <span>Bitcoin</span>
            	</a>
			</div>

			<div class="col-sm-4 center-button">
				<a href="{% url '/beer/#ltc' %}" class="nav-link">
                    <i class="altcoins-logo altcoins-logo-ltc" aria-hidden="true"></i>
                    Litecoin
            	</a>
			</div>

			<div class="col-sm-4 center-button">
				<a href="{% url '/beer/#eth' %}" class="nav-link">
                    <i class="altcoins-logo altcoins-logo-eth" aria-hidden="true"></i>
                    Ethereum
            	</a>
			</div>
			</div>
		</div>
		
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							<span class="title">beer</span></h5>
					</div>
					<div class="modal-body">
				   
						<div class="beer-modal"></div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary-full" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
    	</div>
    	
    	

	</div>
	<div class="container">
		<div class="col-lg-12 text-center">
    		<p>
			Feel like buying us refreshments? Donate with your favorite cryptocurrency!
			</p>
		</div>
	</div>
</div>

<div class="beer-bottom" id="beer-bottom">
	<div class="container">
		<div class="content">
			<div>
				<!-- Disclaimer: The TREZOR Beer Fund may not necessarily be used for beer. -->
			</div>
		</div>
	</div>

</div>
</section>



{% endblock body %}
{% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_beer.js' %}"></script>
{% endblock %}
