{% extends "base.html" %} {% load i18n %} {% block body %}
<section class="beer">
	<div class="beer-intro">
		<div class="container">
			<div class="col-lg-5 col-xs-12 text-sm-left text-xs-center">
				<h1>{% trans "Trezor Beer Fund!" %}</h1>
				<p>
					{% blocktrans %}
					Did we help you beyond your expectations? Resolved your issues quickly? Recovered your coins sent to a wrong address?
					{% endblocktrans %}
				</p>
				<p>
					{% blocktrans %}
					Glad to hear we could assist you!
					{% endblocktrans %}
				</p>
			</div>
		</div>
	</div>
	<div class="beer-cta">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 text-lg-left text-xs-center">
					<h2>{% trans "Say thanks with beer!" %}</h2>
				</div>
				<div class="col-lg-7 text-lg-left text-xs-center">
					<p>
						{% blocktrans %}
                                                We decided to listen to your frequent requests and created a few wallets for crypto-donations. Choose your favorite cryptocurrency and donate to the teams that deserve your recognition the most: our Support Team and our Development Team. They do deserve your appreciation, after all.
						{% endblocktrans %}
					</p>
					<p>
						{% blocktrans %}
						And what is the best way you can say thanks? In Prague? <br />By buying beer, of course!
						{% endblocktrans %}
					</p>
				</div>
			</div>
			<div class="row altcoins">
				<div class="col-lg-4 text-lg-center text-xs-center">
					<a href="#" data-toggle="modal" data-target="#btc-modal">
						<div class="cta-altcoin">
							<div class="altcoins-logo altcoins-logo-btc"></div>
							<h4>{% trans "Bitcoin" %}</h4>
							<p>{% trans "Get Bitcoin address" %}</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 text-lg-center text-xs-center">
					<a href="#" data-toggle="modal" data-target="#ltc-modal">
						<div class="cta-altcoin">
							<div class="altcoins-logo altcoins-logo-ltc"></div>
							<h4>{% trans "Litecoin" %}</h4>
							<p>{% trans "Get Litecoin address" %}</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 text-lg-center text-xs-center">
					<a href="#" data-toggle="modal" data-target="#eth-modal">
						<div class="cta-altcoin">
							<div class="altcoins-logo altcoins-logo-eth"></div>
							<h4>{% trans "Ethereum" %}</h4>
							<p>{% trans "Get Ethereum address" %}</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-lg-12 text-lg-center">
				<p>
					{% blocktrans %}
					Feel like fueling our creativity? Donate with your favourite cryptocurrency!
					{% endblocktrans %}
				</p>
			</div>
		</div>
	</div>
	<!-- Modal BTC -->
	<div class="modal fade" id="btc-modal" tabindex="-1" role="dialog" aria-labelledby="btcModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="btcModalLabel">{% trans "Beer fund" %}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12 text-lg-center text-xs-center">
							<div class="alert alert-success" role="alert"><strong>{% trans "Copied to clipboard" %}</strong></div>
							<h4>{% trans "Bitcoin address" %}</h4>
							<p>3QmuBaZrJNCxc5Xs7aGzZUK8RirUT8jRKf</p>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 text-lg-center text-xs-center">
							<a href="bitcoin:3QmuBaZrJNCxc5Xs7aGzZUK8RirUT8jRKf">
								<div id="qrcode-btc" class="qrcode"></div>
							</a>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<a class="close-link" href="#" data-dismiss="modal">{% trans "Close" %}</a>
					<button type="button" class="clipboard-cta btn btn-primary-outline" data-clipboard-text="3QmuBaZrJNCxc5Xs7aGzZUK8RirUT8jRKf">Copy to clipboard</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal LTC -->
	<div class="modal fade" id="ltc-modal" tabindex="-1" role="dialog" aria-labelledby="ltcModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ltcModalLabel">{% trans "Beer fund" %}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12 text-lg-center text-xs-center">
							<div class="alert alert-success" role="alert"><strong>{% trans "Copied to clipboard" %}</strong></div>
							<h4>{% trans "Litecoin address" %}</h4>
							<p>MCwFeGBkgpqN1vU4Wgs2kWhcFb3Qz6S592</p>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 text-lg-center text-xs-center">
							<a href="litecoin:MCwFeGBkgpqN1vU4Wgs2kWhcFb3Qz6S592">
								<div id="qrcode-ltc" class="qrcode"></div>
							</a>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<a class="close-link" href="#" data-dismiss="modal">{% trans "Close" %}</a>
					<button type="button" class="clipboard-cta btn btn-primary-outline" data-clipboard-text="MCwFeGBkgpqN1vU4Wgs2kWhcFb3Qz6S592">Copy to clipboard</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal ETH -->
	<div class="modal fade" id="eth-modal" tabindex="-1" role="dialog" aria-labelledby="ethModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ethModalLabel">{% trans "Beer fund" %}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12 text-lg-center text-xs-center">
							<div class="alert alert-success" role="alert"><strong>{% trans "Copied to clipboard" %}</strong></div>
							<h4>{% trans "Ethereum address" %}</h4>
							<p>0x140E5C635D484f2AAA153d2B7d4c7A945242c21D</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 text-lg-center text-xs-center">
							<a href="ethereum:0x140E5C635D484f2AAA153d2B7d4c7A945242c21D">
								<div id="qrcode-eth" class="qrcode"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="close-link" href="#" data-dismiss="modal">{% trans "Close" %}</a>
					<button type="button" class="clipboard-cta btn btn-primary-outline" data-clipboard-text="0x140E5C635D484f2AAA153d2B7d4c7A945242c21D">Copy to clipboard</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Disclaimer: The TREZOR Beer Fund may not be necessarily used for beer. -->
</section>


{% endblock body %} {% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_beer.js' %}" async></script>
{% endblock %}
