{% extends "base.html" %} {% load i18n %} {% block body %}
<section class="coins-section">
  <div class="container">
    <h2>Supported coins & tokens <span id="all-coins">({% if coins_info.t1_coins > coins_info.t2_coins %} {{ coins_info.t1_coins }} {% else %} {{ coins_info.t2_coins }} {% endif %})</span></h2>
    <p>List of all coins & tokens supported by Trezor.</p>

    <a class="btn btn-primary-full shop-btn hidden-sm-down" href="https://shop.trezor.io" role="button"
       aria-label="Get your Trezor">
      Get your Trezor now</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 input-wrapper">
        <input type="search" name="quick_search" placeholder="Quick search"
               id="search">
      </div>
    </div>
  </div>
  <div class="container wrapper">
    <table class="table">
      <thead class="thead" >
      <tr class="header-line">
        <th scope="col" id="visible-offset"></th>
        <th scope="col" id="visible-name">Coin & Token name</th>
        <th scope="col devices" id="visible-t1"><img src="{% static '/static/images/coins/t1.png' %}" alt="" height="24px"><span
          class="hidden-sm-down"><span class="hidden-lg-down">Trezor </span>One</span></th>
        <th scope="col devices" id="visible-t2"><img src="{% static '/static/images/coins/t2.png' %}" alt="" height="24px"><span
          class="hidden-sm-down"><span class="hidden-lg-down">Trezor </span>Model T</span></th>
        <th scope="col" id="visible-wallets">Wallets</th>
        <th scope="col" id="visible-links" class="hidden-md-down">Links</th>
      </tr>
      <tr class="header-line-invisible" id="table-head">
        <th scope="col" id="invisible-offset"></th>
        <th scope="col" id="invisible-name">Coin & Token name</th>
        <th scope="col devices" id="invisible-t1"><img src="{% static '/static/images/coins/t1.png' %}" alt="" height="24px"><span
          class="hidden-sm-down"><span class="hidden-lg-down">Trezor </span>One</span></th>
        <th scope="col devices" id="invisible-t2"><img src="{% static '/static/images/coins/t2.png' %}" alt="" height="24px"><span
          class="hidden-sm-down"><span class="hidden-lg-down">Trezor </span>Model T</span></th>
        <th scope="col" id="invisible-wallets">Wallets</th>
        <th scope="col" id="invisible-links" class="hidden-md-down">Links</th>
      </tr>
      </thead>
      <tbody id="content">
        {% for coin in coins %}
          {% with shortcut=coin.shortcut|coin_shortcut %}
          <tr class="coin {% if coin.hidden %} hide {% endif %}" data-href="./#{{ shortcut }}" id="{{ shortcut }}"/>
            <td>
              <span class="logo-wrapper">
                  <img class="b-lazy" id="COIN-{{ shortcut|to_upper }}" {% if coin.links.Homepage %}data-clearbit="https://logo.clearbit.com/{{ coin.links.Homepage|url_to_domain }}?size=64"{% endif %} data-name="{{ coin.name }}">
              </span>
            </td>
            <td title="{% if coin.marketcap_usd > 0 %}$ {{ coin.marketcap_usd|format_number }}{% endif %}"><strong>{{ coin.name }}</strong> ({{ shortcut }}) <a href="#{{ shortcut }}" class="clipboard"  data-clipboard-text="{{CURRENT_PAGE.absolute_final_url}}coins/#{{ shortcut }}" data-toggle="tooltip" data-title="copy"><i class="fa fa-link"></i></a><span class="copied"><i class="fa fa-check-circle"></i> copied!</span></td>
            <td>
              {% autoescape off %}
                {{ coin.t1_enabled|t_enabled }}
              {% endautoescape %}
            </td>
            <td>
              {% autoescape off %}
                {{ coin.t2_enabled|t_enabled }}
              {% endautoescape %}
            </td>
            <td>
              {% for k in coin.wallet %}
                {% with link=coin.wallet|get_item:k %}
                  <a href="{{ link }}" target="_blank" rel="nofollow noopener noreferrer">{{ k }}</a>
                {% endwith %}
                {% if not forloop.last %}, {% endif %}
              {% empty %}
                -
              {% endfor %}
            </td>
            <td class="hidden-md-down" />
              {% for k in coin.links %}
                {% with link=coin.links|get_item:k %}
                <a href="{{ link }}" rel="nofollow noopener noreferrer" target="_blank">{{ k }}</a>
                {% endwith %}
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
          </tr>
          {% endwith %}
        {% endfor %}
      </tbody>
    </table>
    <div class="noresults-wrapper" id="noresults">
      No results found.
    </div>
    <div class="bottom">Logos provided by <a href="http://clearbit.com/" rel="nofollow noopener noreferrer">Clearbit</a></div>
  </div>
</section>

{% endblock %} {% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_coins.js' %}"></script>
{% endblock %}
