{% extends "base_new.html" %} {% load i18n %} {% block body %}
<section class="coins-section">
  <div class="container">
    <h2>Supported coins & tokens <span id="all-coins"></span></h2>
    <p>List of all coins & tokens supported by Trezor.</p>
  </div>
  <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Coin & Token name</th>
      <th scope="col devices"><img src="{% static '/static/images/coins/t1.png' %}" alt="" height="24px">Trezor One</th>
      <th scope="col devices"><img src="{% static '/static/images/coins/t2.png' %}" alt="" height="24px">Trezor Model T</th>
      <th scope="col">Markectcap (USD)</th>
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody id="content">

  </tbody>
</table>

  </div>
</section>

{% endblock %} {% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_coins.js' %}"></script>
{% endblock %}
