{% extends "base.html" %} {% load i18n %} {% block body %}
<section class="coins-section">
  <div class="container">
    <h2>Supported coins & tokens <span id="all-coins"></span></h2>
    <p>List of all coins & tokens supported by Trezor.</p>

    <a class="btn btn-primary-full shop-btn hidden-sm-down" href="https://shop.trezor.io" role="button"
       aria-label="Get your Trezor">
      Get your Trezor now</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 input-wrapper">
        <input type="search" name="quick_search" placeholder="Quick search"
               id="search">
      </div>
    </div>
  </div>
  <div class="container wrapper">
    <table class="table">
      <thead class="thead" >
      <tr class="header-line">
        <th scope="col" id="visible-offset"></th>
        <th scope="col" id="visible-name">Coin & Token name</th>
        <th scope="col devices" id="visible-t1"><img src="{% static '/static/images/coins/t1.png' %}" alt="" height="24px"><span
          class="hidden-sm-down"><span class="hidden-lg-down">Trezor </span>One</span></th>
        <th scope="col devices" id="visible-t2"><img src="{% static '/static/images/coins/t2.png' %}" alt="" height="24px"><span
          class="hidden-sm-down"><span class="hidden-lg-down">Trezor </span>Model T</span></th>
        <th scope="col" id="visible-links" class="hidden-sm-down">Links</th>
      </tr>
      <tr class="header-line-invisible" id="table-head">
        <th scope="col" id="invisible-offset"></th>
        <th scope="col" id="invisible-name">Coin & Token name</th>
        <th scope="col devices" id="invisible-t1"><img src="{% static '/static/images/coins/t1.png' %}" alt="" height="24px"><span
          class="hidden-sm-down"><span class="hidden-lg-down">Trezor </span>One</span></th>
        <th scope="col devices" id="invisible-t2"><img src="{% static '/static/images/coins/t2.png' %}" alt="" height="24px"><span
          class="hidden-sm-down"><span class="hidden-lg-down">Trezor </span>Model T</span></th>
        <th scope="col" id="invisible-links" class="hidden-sm-down">Links</th>
      </tr>
      </thead>
      <tbody id="content">
      </tbody>
    </table>
    <div class="loader-wrapper" id="loader">
      <div class="loader">Loading...</div>
    </div>
    <div class="bottom">Logos provided by <a href="http://clearbit.com/" rel="nofollow noopener noreferrer">Clearbit</a></div>
  </div>
</section>

{% endblock %} {% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_coins.js' %}"></script>
{% endblock %}
