{% extends "base.html" %} {% load i18n %} {% block body %}

<section class="endorsements-section">
  <div class="container">
    <div class="row heading">
      <div class="col-lg-12  text-xs-center">
        <h2>{% trans "We are devoted to our community." %}</h2> {% blocktrans %}
        <p>Our Support Team is always ready to help you.</p>
        {% endblocktrans %}
      </div>
    </div>

    <div class="row endorsements">

      <div class="col-lg-12 text-lg-left">
        <div class="content">
          <div class="description">
            <blockquote>
              {% blocktrans %} I just wanted to let you know that I've been using the password manager for a good while, and it's been great. Such a useful, simple product. Thanks for making it! {% endblocktrans %}
            </blockquote>
          </div>
          <div class="col-md-12 endorsements-list">
            <div class="header brett"></div>
            <h4>Brett Clanton</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-12 text-lg-left">
        <div class="content">
          <div class="description">
            <blockquote>
              {% blocktrans %} I got my delivery today. Thank you for you patience in dealing with me. You restored my trust in bitcoin. I am very impressed with the quality of the Trezor's. One is for me and 4 are going to be gifts to 4 friends that I got into bitcoin
              along with the 3 Trezor's. I already had one and so does one friend. Now all 5 of us will have protected rebuild keys as well as secure offline wallets! I was very surprised to see the 2 pair of socks in the package! Not sure if that was
              in the original order or not but I like them very much. Thank you. I will wear them loud and proud! If you ever find yourself in Phoenix Arizona, give me a call, I'll buy you a beer, or 6 or 7! {% endblocktrans %}
            </blockquote>
          </div>
          <div class="col-md-12 endorsements-list">
            <div class="header brian"></div>
            <h4>Brian</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-12 text-lg-left">
        <div class="content">
          <div class="description">
            <blockquote>
              {% blocktrans %} You people at Trezor are golden! I tried the coin-recovery tool link you sent me, very easy and simple, I was expecting something complicated. It worked fine and the 3 'missing'' Litecoin are now showing in my Trezor account. I want to
              thank you and just say your customer service is excellent. {% endblocktrans %}
            </blockquote>
          </div>
          <div class="col-md-12 endorsements-list">
            <div class="header moulder"></div>
            <h4>Paul Moulder</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-12 text-lg-left">
        <div class="content">
          <div class="description">
            <blockquote>
              {% blocktrans %} In the end, it had nothing to do with the performance of Trezor but I thank you for being so quick on the support. Makes me feel a lot better for future transactions with my Trezor. All the best. {% endblocktrans %}
            </blockquote>
          </div>
          <div class="col-md-12 endorsements-list">
            <div class="header ryan"></div>
            <h4>Ryan</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-12 text-lg-left">
        <div class="content">
          <div class="description">
            <blockquote>
              {% blocktrans %} I use all kinds of different cryptocurrency wallets, I post reviews videos about them on YouTube, ive dealt with support from everyone of them at some point and you guys have some of the best support around. Thank you so much, I will
              continue to recommend Trezor to everyone. {% endblocktrans %}
            </blockquote>
          </div>
          <div class="col-md-12 endorsements-list">
            <div class="header sean"></div>
            <h4>Sean Logan</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-12 text-lg-left">
        <div class="content">
          <div class="description">
            <blockquote>
              {% blocktrans %} Love my Trezor. Without it I would never be able to sleep. Thanks for making cryptocurrency and assets safe. {% endblocktrans %}
            </blockquote>
          </div>
          <div class="col-md-12 endorsements-list">
            <div class="header andy"></div>
            <h4>Andy Keen</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-12 text-lg-left">
        <div class="content">
          <div class="description">
            <blockquote>
              {% blocktrans %} Fast response. Reassured me that my coins were safe. I feel more confident using a Trezor for my stash. Thank you! {% endblocktrans %}
            </blockquote>
          </div>
          <div class="col-md-12 endorsements-list">
            <div class="header waldo"></div>
            <h4>Waldo</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-12 text-lg-left">
        <div class="content">
          <div class="description">
            <blockquote>
              {% blocktrans %} Trezor is a well designed, easy to use product with great support. I'd heartily recommend it to anyone who wishes to protect their digital investments. The willingness of the developers to accommodate digital currencies besides Bitcoin
              makes it even more valuable. I look forward to the expanding capabilities of this valuable tool. {% endblocktrans %}
            </blockquote>
          </div>
          <div class="col-md-12 endorsements-list">
            <div class="header bob"></div>
            <h4>Bob</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-12 text-lg-left">
        <div class="content">
          <div class="description">
            <blockquote>
              {% blocktrans %} Thanks for everything, I researched a lot and I saw that you are a 100% reliable company, I am happy to have a product like that. {% endblocktrans %}
            </blockquote>
          </div>
          <div class="col-md-12 endorsements-list">
            <div class="header ricardo"></div>
            <h4>Ricardo Nascimento</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-12 text-lg-left">
        <div class="content">
          <div class="description">
            <blockquote>
              {% blocktrans %} Trezor team didn't let me down you guys explained all the steps for me to downgrade my Trezor firmware and then when things didn't worked kept asking me questions and trying to understand what could be done and this helped me don't thrown
              the towel and find the way to retrieve the coins... {% endblocktrans %}
            </blockquote>
          </div>
          <div class="col-md-12 endorsements-list">
            <div class="header rubens"></div>
            <h4>Rubens</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
{% endblock %}
