{% extends "base_new.html" %} {% load i18n %} {% block body %}
<header id="header">
  <div class="jumbotron webp" id="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col col-lg-5">
          <div>
            <h1 class="headline" id="headline">
              {% trans "The safe place for your coins." %}
            </h1>
            <img src="{% static '/static/images/coins.svg' %}" />
            <a class="btn btn-primary-full shop-btn" href="https://shop.trezor.io" role="button" aria-label="Get your Trezor">
              Get your Trezor</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <img src="{% static '/static/images/scroll_down.svg' %}" />
    </div>
  </div>
</header>

<main class="main-content" id="main">
  <div id="usage">
    <section class="usage-section">
      <div class="half-shadow"></div>
      <div class="container">
        <div class="row clearing">
          <div class="col-md-6 col-sm-12 entry text-xs-center">
            <div class="badge">
              <img src="{% static '/static/images/badges/bug.svg' %}" alt="">
            </div>
            <h2>
              Information stored online<br />
              can be copied & stolen.
            </h2>
            <p class="lead">
              Online exchanges and wallet providers can disappear, go offline, be hacked. They are not reliable.
            </p>
            <img src="{% static '/static/images/stolen.svg' %}" alt="">
          </div>

          <div class="col-md-6 col-sm-12 entry bg-devices text-xs-center">
            <div class="badge">
              <img src="{% static '/static/images/badges/ok.svg' %}" alt="">
            </div>
            <h2>
              Go offline.<br />
              Be safe with Trezor.
            </h2>
            <p class="lead">
              Advanced cryptography, reliable and vetted hardware, simple and intuitive interface. Perfect synthesis.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="features">
    <section class="features-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <h2>Trezor. Invented for your digital freedom.</h2>
            <p class="lead">Securing your digital assets has never been more straightforward. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-md-left col-xs-12 text-xs-center">
            <div class="row">
              <div class="col-md-12">
                <div class="badge">
                  <img src="{% static '/static/images/badges/transparent.svg' %}" alt="">
                </div>
                <h3>
                Transparent security.
              </h3>
                <p>
                  Audited by security researchers, verified by our track record.
                </p>
                <a href="./security/" class="arrow">Learn more</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="badge">
                  <img src="{% static '/static/images/badges/support.svg' %}" alt="">
                </div>
                <h3>
                5-star customer support.
              </h3>
                <p>
                  Experts ready to help you at all times.
                </p>
                <a href="./support/" class="arrow">Learn more</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="badge">
                  <img src="{% static '/static/images/badges/interface.svg' %}" alt="">
                </div>
                <h3>
                Intuitive & convenient interface.
              </h3>
                <p>
                  Designed for your confidence and ease-of-mind.
                </p>
                <a href="https://wallet.trezor.io" class="arrow">Explore</a>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-progressive="{% static '/static/images/perspective.webp' %}" data-original="{% static '/static/images/perspective.png' %}" class="perspective lazy" alt="">
            </div>
          </div>
        </div>

        <div class="slider">
          <div class="row">
            <div class="col-xs-12 text-xs-center">
              <a href="" class="active">Wallet</a> <a href="">Password Manager</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-progressive="{% static '/static/images/wallet_ui.webp' %}" data-original="{% static '/static/images/wallet_ui.png' %}" class="perspective lazy" alt="">
          </div>
        </div>
      </div>


    </section>
  </div>

  <div id="lost">
    <section class="lost-section">
      <div class="container">
        <div class="row heading">
          <div class="col-md-6">
            <h2>Fear hardware loss? No need.</h2>
            <p class="lead">
              You can always recover access to your wallet from your offline backup. It only takes 5 minutes.
            </p>
          </div>
          <div class="col-md-6">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-progressive="{% static '/static/images/seed.webp' %}" data-original="{% static '/static/images/seed.png' %}" class="seed-card lazy" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="badge">
              <img src="{% static '/static/images/badges/recovery.svg' %}" alt="">
            </div>
            <h3>
              Recovery seed. Offline.
            </h3>
            <p>
              Your entire wallet is always accessible via your personal 12 to 24 words long recovery seed.
            </p>
          </div>
          <div class="col-md-4">
            <div class="badge">
              <img src="{% static '/static/images/badges/unique.svg' %}" alt="">
            </div>
            <h3>
              Unique for you.
            </h3>
            <p>
              When you first set up your Trezor, it will generate the seed for you. When you need to restore access to your wallet, use this offline backup.
            </p>
          </div>
          <div class="col-md-4">
            <div class="badge">
              <img src="{% static '/static/images/badges/compatible.svg' %}" alt="">
            </div>
            <h3>
              Cross-compatible.
            </h3>
            <p>
              The recovery seed follows a standard created by us at Trezor, but it is widely used, compatible with many wallet apps.
            </p>
          </div>
        </div>
        <div class="row foot">
          <div class="col-xs-12 text-xs-center">
            <a href="https://doc.satoshilabs.com/trezor-user/recovery.html" class="arrow">Learn more</a>
          </div>
        </div>
      </div>
    </section>

  </div>
  <div id="media">
    <section class="media-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Trusted by companies of all sizes.</h2>
            <p class="lead">
              Analyzed. Reviewed. Endorsed by experts.
            </p>
          </div>
          <div class="col-md-6">
            <img src="{% static '/static/images/media.svg' %}" alt="">
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="community">
    <section class="community-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <div class="badge">
              <img src="{% static '/static/images/badges/community.svg' %}" alt="">
            </div>
            <h3>Loved by the community</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <q>
              Trezor is a well designed, easy to use product with great support. I'd heartily recommend it to anyone who wishes to protect their digital investments. The willingness of the developers to accommodate digital currencies besides Bitcoin makes it even more valuable. I look forward to the expanding capabilities of this valuable tool.
            </q>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 community text-xs-center">
            <div class="header bob"></div>
            <h5>Bob</h5>
            <a href="./endorsements/" class="arrow">More reviews</a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- COMPARISON TABLE HERE -->

  <div id="comparison">
    <section class="comparison-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Pick your own Trezor.</h2>
            <p class="lead">We made it easy for you to decide.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-primary">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    <div class="label">
                      <img src="{% static '/static/images/coins/t1.png' %}" alt="">
                      <span>Trezor One</span>
                      <img class="label-img" src="{% static '/static/images/best_choice.svg' %}" alt="">
                    </div>
                  </th>
                  <th scope="col">
                    <div class="label">
                      <img src="{% static '/static/images/coins/t2.png' %}" alt="">
                      <span>Trezor Model T</span>
                      <img class="label-img" src="{% static '/static/images/premium_choice.svg' %}" alt="">
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="dividers">
                  <th class="table-title" scope="row">
                    Coins & Tokens (+560)
                  </th>
                  <td colspan="2">
                    <div class="badges">
                      <img src="{% static '/static/images/coins/btc.svg' %}" alt="">
                      <img src="{% static '/static/images/coins/ltc.svg' %}" alt="">
                      <img src="{% static '/static/images/coins/dash.svg' %}" alt="">
                      <img src="{% static '/static/images/coins/zcash.svg' %}" alt="">
                      <img src="{% static '/static/images/coins/xem.svg' %}" alt="">
                      <img src="{% static '/static/images/coins/eth.svg' %}" alt="">
                      <img src="{% static '/static/images/coins/etc.svg' %}" alt="">
                      <img src="{% static '/static/images/coins/bcash.svg' %}" alt="">
                    </div>
                  </td>
                </tr>
                <tr class="highlight">
                  <th class="table-title" scope="row">Interface</th>
                  <td>Monochrome display with 2 buttons</td>
                  <td>Full color touchscreen</td>
                </tr>
                <tr class="divider">
                  <th class="table-title" scope="row">
                    <hr> Security features
                  </th>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="highlight">
                  <th scope="row">PIN entry</th>
                  <td><img src="{% static '/static/images/badges/pc_mobile.svg' %}" alt=""> On your computer or mobile</td>
                  <td><img src="{% static '/static/images/badges/trezor.svg' %}" alt=""> On your Trezor</td>
                </tr>
                <tr>
                  <th scope="row">Passphrase entry</th>
                  <td><img src="{% static '/static/images/badges/pc_mobile.svg' %}" alt=""> On your computer or mobile</td>
                  <td><img src="{% static '/static/images/badges/trezor.svg' %}" alt=""> On your Trezor</td>
                </tr>
                <tr class="highlight">
                  <th scope="row">Device recovery</th>
                  <td><img src="{% static '/static/images/badges/pc_mobile.svg' %}" alt=""> On your computer or mobile</td>
                  <td><img src="{% static '/static/images/badges/trezor.svg' %}" alt=""> On your Trezor</td>
                </tr>

                <tr class="divider">
                  <th class="table-title" scope="row">
                    <hr> Password manager
                  </th>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="highlight">
                  <th scope="row">Encrypted cloud storage</th>
                  <td><img src="{% static '/static/images/coins/check.svg' %}" alt=""></td>
                  <td><img src="{% static '/static/images/coins/check.svg' %}" alt=""></td>
                </tr>
                <tr>
                  <th scope="row">On Trezor device</th>
                  <td></td>
                  <td>Coming soon</td>
                </tr>

                <tr class="divider">
                  <th class="table-title" scope="row">
                    <hr> Extensions
                  </th>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="highlight">
                  <th scope="row">microSD card</th>
                  <td></td>
                  <td><img src="{% static '/static/images/coins/check.svg' %}" alt=""></td>
                </tr>
                <tr>
                  <th scope="row">On Trezor device data encryption</th>
                  <td></td>
                  <td>Coming soon</td>
                </tr>
                <tr>
                  <th class="table-title" scope="row">Price</th>
                  <td>
                    <div class="table-title">89 EUR </div>
                    <a class="btn btn-primary-full shop-btn" href="https://shop.trezor.io?h=6c6f63616c682e7374" role="button" aria-label="Get your Trezor">
                    Get your Trezor One</a>
                  </td>
                  <td>
                    <div class="table-title">129 EUR </div>
                    <a class="btn btn-primary-full shop-btn" href="https://shop.trezor.io?h=6c6f63616c682e7374" role="button" aria-label="Get your Trezor">
                    Get your Trezor Model T</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="recap">
    <section class="recap-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <h2>Make your coins safe again.</h2>
            <p class="lead">Join the community of satisfied users around the world.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="badge">
              <img src="{% static '/static/images/badges/shield.svg' %}" alt="">
            </div>
            <h3>
              Manage your entire digital identity.
            </h3>
            <p>
              Coins, keys or passwords. All in one device, owned and controled by you.
            </p>
          </div>
          <div class="col-sm-4">
            <div class="badge">
              <img src="{% static '/static/images/badges/display.svg' %}" alt="">
            </div>
            <h3>
              Advanced features for expert users.
            </h3>
            <p>
              Compatible with many applications, ready for power users.
            </p>
          </div>
          <div class="col-sm-4">
            <div class="badge">
              <img src="{% static '/static/images/badges/interface.svg' %}" alt="">
            </div>
            <h3>
              Easy-to-use, ready within 10 minutes.
            </h3>
            <p>
              Intuitive and calming interface, inspiring your confidence.
            </p>
          </div>
        </div>
        <div class="row devices">
          <div class="col-sm-4 text-xs-center">
            <img src="{% static '/static/images/devices.png' %}" alt="">
          </div>
          <div class="col-sm-4 text-xs-center">
            <h3>Don't risk your coins.</h3>
          </div>
          <div class="col-sm-4 text-xs-center">
            <a class="btn btn-primary-full shop-btn" href="https://shop.trezor.io" role="button" aria-label="Get your Trezor">
              Get your Trezor today.</a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="devs">
    <section class="devs-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <div class="badge">
              <img src="{% static '/static/images/badges/github.svg' %}" alt="">
            </div>
            <h2>
              &lt;Code the revolution /&gt;
            </h2>
            <p class="lead">
              Join us and work on top-notch global projects related to Bitcoin and security. Become a part of our team resposible for several influential projects that marked milestones in the Bitcoin world. We love to work with talented and enthusiastic developers,
              marketers or designers.
            </p>
            <div>
              <a class="btn btn-primary-full" href="https://github.com/trezor" role="button" aria-label="GitHub Repos">GitHub Repos</a>
              <a class="btn btn-primary-outline" href="https://gitter.im/trezor/community" role="button" aria-label="Dev Community chat">Dev Community chat</a>
            </div>
            <div class="row">
              <div class="col-xs-12 text-xs-center">
                <br>
                <a href="https://doc.satoshilabs.com/trezor-tech/index.html" class="arrow">Learn from Trezor Developer's Guide</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="subscribe">
    <section class="subscribe-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-9 col-xs-12 text-xs-center text-sm-center text-md-left" id="mc_embed_signup">
            <h2>Don't miss good news & security updates from Trezor.</h2>
            <form action="//trezor.us7.list-manage.com/subscribe/post?u=a87eb6070c965ef1be1b02854&id=0ac8b24e69" method="post" novalidate target="_blank" rel="noopener noreferrer" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form">
              <div id="mc_embed_signup_scroll">
                <input type="email" id="mce-EMAIL" name="EMAIL" class="email-form" aria-label="Email to subscribe for newsletter" required placeholder="Your E-mail Address">
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a87eb6070c965ef1be1b02854_0ac8b24e69" tabindex="-1" value=""></div>
                <input class="btn btn-primary-full" name="submit" aria-label="Button to subscribe for newsletter" value="Subscribe" type="submit" id="mc-embedded-subscribe" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %} {% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_homepage.js' %}"></script>
{% endblock %}
