{% extends "base.html" %} {% load i18n %} {% block body %}
<section class="start" id="start">
  <div class="thank-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12 text-xs-center">
          <h2>{% trans "Welcome to TREZOR!" %}</h2>
        </div>
        <div class="col-md-6 col-xs-12 text-lg-left text-xs-center">
          <p>{% trans "Congratulations, you have made the perfect decision! In your hand, you now hold a device into which we have poured all our knowledge, expertise, and effort to create the safe place for your coins." %}</p>
          <p>{% trans "Your TREZOR will be ready to use in a few moments. Thank you and enjoy!" %}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row margin-top">
      <div class="col-lg-12 text-xs-center">
        <h3>{% trans "Choose your device to continue." %}</h3></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <a href="https://wallet.trezor.io">
          <div class="text-xs-center nav-link">
            <img src="/static/images/start/T1.png" alt="Trezor One">
            <h3>
          <strong>TREZOR</strong> One
        </h3>
            <p>
              You will be redirected to TREZOR Wallet to setup your device.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <a href="https://beta-wallet.trezor.io">
          <div class="text-xs-center nav-link">
            <img src="/static/images/start/T2.png" alt="Trezor Model T">
            <h3>
          <strong>TREZOR</strong> Model T
        </h3>
            <p>
              You will be redirected to TREZOR Beta Wallet to setup your device.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock body %} {% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
{% endblock %}
