{% extends "base.html" %} {% load i18n %} {% block body %}
<section class="start" id="start">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-xs-center thank-intro">
        <div>
          <h2>{% trans "Choose your device to get started." %}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <a href="https://wallet.trezor.io">
          <div class="text-xs-center nav-link">
            <img src="/static/images/start/T1.png" height="155" alt="Trezor One">
            <h3>
          <strong>TREZOR</strong> One
        </h3>
            <p>
              You will be redirected to TREZOR Wallet to setup your device.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <a href="https://beta-wallet.trezor.io">
          <div class="text-xs-center nav-link">
            <img src="/static/images/start/T2.png" height="155" alt="Trezor Model T">
            <h3>
          <strong>TREZOR</strong> Model T
        </h3>
            <p>
              You will be redirected to TREZOR Beta Wallet to setup your device.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock body %} {% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/sources/page_start.js' %}"></script>
{% endblock %}
