{% extends "base.html" %} {% load i18n %} {% block body %}
<section class="start" id="start">
  <div class="thank-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12 text-xs-center">
          <h2>{% trans "Welcome to Trezor!" %}</h2>
        </div>
        <div class="col-md-6 col-xs-12 text-lg-left text-xs-center">
          <p>{% trans "Congratulations, you have made the perfect decision! In your hand, you now hold a device into which we have poured all our knowledge, expertise, and effort to create the safe place for your coins." %}</p>
          <p>{% trans "Your Trezor will be ready to use in a few moments. Thank you and enjoy!" %}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row margin-top">
      <div class="col-lg-12 text-xs-center">
        <h3>{% trans "Choose your device to continue." %}</h3></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="data-link" data-toggle="modal" data-target="#modalTrezorOne">
          <div class="text-xs-center nav-link">
            <img src="/static/images/start/T1.png" alt="Trezor One">
            <h3>
          <strong>Trezor</strong> One
        </h3>
            <p>
              You will be redirected to TREZOR Wallet to setup your device.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="data-link" data-toggle="modal" data-target="#modalTrezorT">
          <div class="text-xs-center nav-link">
            <img src="/static/images/start/T2.png" alt="Trezor Model T">
            <h3>
          <strong>Trezor</strong> Model T
        </h3>
            <p>
              You will be redirected to TREZOR Beta Wallet to setup your device.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} 


{% block modals %}

{% include "modal.html" with extraClass="large" videosrc="/static/video/mp4/T1_hologram.mp4" target="modalTrezorOne" image="/static/images/gifs/T1.gif" title="Before you start" text_html="<p>Please make sure the hologram seals on the box are authentic. If the hologram seals are missing or look differently from the one in the video above, <a href=//satoshilabs.kayako.com/conversation/new/10?subject=Missing%20hologram target=_blank>contact immediately our support</a>. When we receive the information, we will analyze it and will get back to you. We do not recommend to use the device in the meantime.</p><p>The hologram seals are only on the box, not on the device itself. More information about the hologram seal can be found in this <a href=https://blog.trezor.io/trezor-one-tamper-evident-packaging-f98d3f63569d target=_blank>article</a>.</p>" button_link="https://wallet.trezor.io/" button_text="Continue to wallet"%}

{% include "modal.html" with extraClass="large" videosrc="/static/video/mp4/TT_hologram.mp4" target="modalTrezorT" image="/static/images/gifs/TT.gif" title="Before you start" text_html="<p>Please make sure the hologram seal on your device is authentic. If the hologram seal is missing or looks differently from the one in the video above, <a href=//satoshilabs.kayako.com/conversation/new/10?subject=Missing%20hologramt target=_blank>contact immediately our support</a>. When we receive the information, we will analyze it and will get back to you. We do not recommend to use the device in the meantime.</p><p>The hologram seal is only on the device, not the box. More information about the hologram seal can be found in this <a href=https://blog.trezor.io/trezor-one-tamper-evident-packaging-f98d3f63569d target=_blank>article</a>.</p>" button_link="https://beta-wallet.trezor.io/" button_text="Continue to wallet"%}
{% endblock %}


{% block scripts %}
<script type='text/javascript' charset='utf-8' src="{% static '/static/js/vendor/vendors.js' %}"></script>
{% endblock %}
