{% load i18n %}
<footer id="subscribe">
  <div class="bottom-part">
    <div class="container">
      <div class="row ">
        <div class="col-md-3 hidden-sm-down">
          <a href="{% url '/' %}"><img class="trezor-logo lazy"
                                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                 data-progressive="{% static '/images/trezor.svg' %}"
                                                 data-original="{% static '/images/trezor.svg' %}"
                                                 alt="TREZOR best bitcoin wallet and security device logo"/></a>
          <p>
            Brought to you by <a href="https://satoshilabs.com" class="satoshilabs">SatoshiLabs</a>.
          </p>
        </div>

        <div class="col-md-3 col-sm-12 text-md-left text-sm-center text-xs-center">
          <ul class="footer-nav">
            <li class="space-bottom">
              <strong>Products</strong>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url '/' %}">{% trans "Trezor" %}<span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="nav-link shop-btn" href="https://shop.trezor.io" data-amount="0">{% trans "Shop" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://trezor.io/start/">{% trans "Wallet" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://blog.trezor.io/">{% trans "Blog" %}</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-12 text-md-left text-sm-center text-xs-center">
          <ul class="footer-nav">
            <li class="space-bottom">
              <strong>Help & Support</strong>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="http://doc.satoshilabs.com/">{% trans "Documentation" %}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url '/support' %}">{% trans "Support" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url '/security' %}">{% trans "Security" %}</a>
            </li>

          </ul>
        </div>

        <div class="col-md-3 col-sm-12 text-md-left text-sm-center text-xs-center">
          <ul class="footer-nav">
            <li class="space-bottom">
              <strong>Others</strong>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url '/resellers' %}">{% trans "Resellers" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://shop.trezor.io/sales/">{% trans "Sales" %}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row foot">
        <hr>
        <div class="col-md-6 col-sm-12 text-md-left text-sm-center text-xs-center">
          <p>© All right reserved 2012 - 2018. Trezor.</p>
        </div>

        <div class="offset-lg-3 col-lg-3 offset-md-1 col-md-5 text-md-left text-sm-center text-xs-center">
          <p>
            <a href="https://www.facebook.com/BitcoinTrezor/"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-progressive="{% static '/static/images/footer/fb.svg' %}" data-original="{% static '/static/images/footer/fb.svg' %}"  alt="" class="clear lazy" /></a>
            <a href="https://blog.trezor.io"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-progressive="{% static '/static/images/footer/medium.svg' %}" data-original="{% static '/static/images/footer/medium.svg' %}" class="lazy" alt="" /></a>
            <a href="https://www.reddit.com/r/TREZOR/"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-progressive="{% static '/static/images/footer/reddit.svg' %}" data-original="{% static '/static/images/footer/reddit.svg' %}" class="lazy" alt="" /></a>
            <a href="https://github.com/trezor"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-progressive="{% static '/static/images/footer/github.svg' %}" data-original="{% static '/static/images/footer/github.svg' %}" class="lazy" alt="" /></a>
            <a href="https://twitter.com/trezor"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-progressive="{% static '/static/images/footer/twitter.svg' %}" data-original="{% static '/static/images/footer/twitter.svg' %}" class="lazy" alt="" /></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
