{% load i18n %}
<!-- Modals -->
<div class="modal fade {{extraClass}}" id="{{ target }}" tabindex="-1" role="dialog" aria-labelledby="{{ target }}_{{ title }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3>{{ title }}</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <video loop="" muted="" autoplay="" id="jumbo-video" preload="metadata" poster="/static/images/photos/header.png" class="video-responsive">
            <source src="{{ videosrc }}" type="video/mp4">
          </video>
        </div>
        {{ text_html|safe }}
      </div>
      <div class="modal-footer">
        <a href="{{ button_link }}" class="btn btn-primary-full">{{ button_text }}</a>
      </div>
    </div>
  </div>
</div>

<!-- end Modals -->
