.tpl-area,
.tpl-area *
  display: none !important

.beer
  min-height: 85%
  padding-top: 48px
  padding-bottom: 0

.qr-code
  background-image: url("/static/images/beer/code.png")
  max-height: 100%
  background-repeat: no-repeat
  background-size: 100%
  display: inline-block
  margin: 0 auto

  &-btc
    width: 250px
    height: 250px
    background-position: 0 0px

  &-ltc
    width: 250px
    height: 250px
    background-position: 0 -250px

  &-eth
    width: 250px
    height: 250px
    background-position: 0 -500px


.beer-intro
  height: 400px
  padding-top: 100px
  padding-bottom: 100px
  background-image: url("/static/images/beer/beer-bg.jpg")
  background-size: 100%

  @media only screen and (max-width: $md)
    padding-top: 100px

  @media only screen and (max-width: $sm)
    padding-top: 100px
    background-size: cover

  @media only screen and (max-width: $xs)
    h1
      font-size: 32px

  h1
    display: inline-block
    width: auto
    height: auto
    margin-top: 0
    color: $c_white
  p
    color: $c_white
.altcoins
  margin: 40px 0 40px 0

.beer-cta
  padding-top: 80px
  padding-bottom: 20px
  background: $c_grey_bg
  background: -webkit-linear-gradient($c_white, $c_grey_bg)
  background: -o-linear-gradient($c_white, $c_grey_bg)
  background: -moz-linear-gradient($c_white, $c_grey_bg)
  background: linear-gradient($c_white, $c_grey_bg)

  a
    text-decoration: none

  & > .container > .row
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex

    @media only screen and (max-width: $md)
      display: block

    .altcoins-logo
      background-image: url("/static/images/beer/beer-altcoins.png")
      background-size: 50px auto
      background-repeat: no-repeat
      display: block
      margin: auto

      &-eth
        width: 30px
        height: 51px
        background-position: 0 -119px

      &-ltc
        width: 50px
        height: 51px
        background-position: 0 -59px

      &-btc
        width: 50px
        height: 51px
        background-position: 0 0px

  .cta-altcoin
    background-color: $c_white
    box-shadow: 0 4px 24px 0 rgba(31, 31, 31, 0.05)
    font-weight: bold
    padding: 30px 20px 20px 20px
    margin-top: 20px

    color: $c_grey_font
    +transition(all 0.15s ease 0s)
    +border-radius(4px)

    &:hover
      +box-shadow(0 8px 24px rgba(0, 0, 0, 0.15))
      i
        color: $c_green
