.usage-section
  padding: 0 !important
  position: relative
  display: block
  width: 100%
  min-height: 100%

  h2
    font-weight: bold

    @media only screen and (max-width: $md)
      font-size: 1.8em

    @media only screen and (max-width: $sm)
      font-size: 1.3em

    @media only screen and (max-width: $xs)
      font-size: 1.6em

  .badge
    width: 100%
    padding: 20px
    position: relative
    display: block
    text-align: center

  .slider a
    color: $c_grey

  .quote
    font-size: 2.8em
    font-weight: 100
    font-style: italic

  .half-shadow
    display: block
    position: absolute
    width: 50%
    height: 100%
    background-color: $c_subtle_gray
    z-index: 0

    @media only screen and (max-width: $sm)
      width: 100%

  .container
    z-index: 1

  .row
    display: flex

    @media only screen and (max-width: $xs)
      display: block

  .entry
    padding-top: 2em
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between

    h3
      padding-top: 14px
      padding-bottom: 12px
      margin-bottom: 0
      font-size: 1.8em
      line-height: 1.2em
      font-weight: bold
      color: $c_jumbo_grey

    .lead
      max-width: 80%
      font-size: 1rem
      margin: 0 auto
      padding-bottom: 4em
      padding-top: 0

    img
      max-width: 70%

.entry-content
  @media only screen and (min-width: $sm)
    min-height: 300px

.features-section
  padding-bottom: 0

  .wallet-video
    z-index: -9
    top: 5px

  h2
    padding-top: 5px
    margin-bottom: 10px
    font-size: 1.8em
    line-height: 1.2em
    font-weight: bold
    color: $c_jumbo_grey

  p
    font-size: 1rem
    margin-bottom: 0

    @media only screen and (max-width: $xs)
      max-width: 320px
      margin: 10px auto 10px auto

    &.lead
      font-size: 1.05rem

  h3
    padding-top: 14px
    padding-bottom: 12px
    margin-bottom: 0
    font-size: 1.1em
    font-weight: bold
    color: $c_jumbo_grey

  .perspective
    max-width: 100%
    margin: 0 auto
    display: block
    padding-top: 100px

    &.preview
      padding: 0
      +box-shadow(0 4px 30px rgba(30, 30, 30, 0.1))
      +border-radius(6px)

    @media only screen and (max-width: $md)
      padding-top: 100px
      max-width: 190%

    @media only screen and (max-width: $sm)
      padding-top: 30px
      max-width: 100%

  .badge
    text-align: left
    padding-left: 0
    padding-bottom: 0
    padding-top: 40px

    @media only screen and (max-width: $sm)
      text-align: center

.lost-section
  padding: 130px 0 100px 0
  background-color: $c_subtle_gray

  .space-top
    padding-top: 14px

  .heading
    padding-top: 40px
    padding-bottom: 130px

    @media only screen and (max-width: $md)
      padding-bottom: 10px
    @media only screen and (max-width: $sm)
      padding-bottom: 0

  h2
    padding-top: 5px
    margin-bottom: 10px
    font-size: 1.8em
    line-height: 1.2em
    font-weight: bold
    color: $c_jumbo_grey

    @media only screen and (max-width: $xs)
      max-width: 300px
      margin: 0 auto 10px auto

  .seed-card
    max-width: 100%
    position: absolute
    top: -85px
    z-index: 0

    @media only screen and (max-width: $md)
      position: relative
      top: 20px

    @media only screen and (max-width: $sm)
      position: relative
      top: 60px

  h3
    padding-top: 5px
    padding-bottom: 5px
    margin-bottom: 0
    font-size: 1.1em
    font-weight: bold
    color: $c_jumbo_grey

  .badge
    text-align: left
    padding-left: 0
    padding-bottom: 10px
    padding-top: 40px

    @media only screen and (max-width: $sm)
      text-align: center

  p
    font-size: 1rem
    margin-bottom: 0

    @media only screen and (max-width: $xs)
      max-width: 320px
      margin: 10px auto 10px auto

    &.lead
      font-size: 1.05rem

  .foot
    padding-top: 50px
    padding-bottom: 20px

.media-section
  padding-bottom: 50px
  padding-top: 60px

  .whitespace-top
    margin-top: 25px
    @media only screen and (max-width: $xs)
      margin-top: 0 !important

  .companies
    width: 119px
    height: 26px
    overflow: hidden
    position: relative
    margin: 0 auto
    margin-top: 10px
    background: url("/static/images/media.svg") no-repeat
    background-size: 100%

    @media only screen and (max-width: $sm)
      margin-top: 25px !important

    &:after
      content: ""
      display: block

    &.cnn
      background-position: 0 0
    &.coindesk
      background-position: 0 20%
    &.forbes
      background-position: 0 40%
    &.bitwala
      background-position: 0 60%
    &.magazine
      background-position: 0 80%
    &.bitstamp
      background-position: 0 100%

  h2
    padding-top: 5px
    margin-bottom: 10px
    font-size: 1.8em
    line-height: 1.2em
    font-weight: bold
    color: $c_jumbo_grey

    @media only screen and (max-width: $xs)
      max-width: 290px
      margin: 0 auto 20px auto

  img
    @media only screen and (max-width: $md)
      margin-top: 10px
      max-height: 70px

    @media only screen and (max-width: $sm)
      margin-top: 40px
      max-height: 80px

    @media only screen and (max-width: $xs)
      margin-top: 50px
      max-height: 60px

  p
    font-size: 1em
    margin-bottom: 0
    line-height: 1.5rem

    &.lead
      font-size: 1.1rem
      margin-bottom: 20px

.community-section
  padding-top: 0

  .badge
    padding-top: 30px

  h3
    padding-top: 14px
    padding-bottom: 12px
    margin-bottom: 0
    font-size: 1.1em
    font-weight: bold
    color: $c_jumbo_grey

  q
    padding-top: 20px
    padding-bottom: 30px
    color: $c_nav_grey
    font-size: 1.9em
    font-style: italic
    font-weight: 300
    display: block
    max-width: 80%
    margin: 0 auto
    text-rendering: optimizeLegibility
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif

    @media only screen and (max-width: $sm)
      font-size: 1.1em

  .community
    margin-top: 20px

    h5
      font-size: 1.1em
      padding: 20px 0 20px 0

    .active
      +transform(scale(1.5, 1.5))

    .header
      width: 100%
      max-width: 40px
      max-height: 40px
      overflow: hidden
      position: relative
      margin: 0 auto
      margin-bottom: 8px
      background: url("/static/images/customers_faces/customers.png") no-repeat
      background-size: 40px
      +border-radius(50%)

      &:after
        content: ""
        display: block
        padding-bottom: 100%

      &.moulder
        background-position: 0 2.5%
      &.rubens
        background-position: 0 24.5%
      &.ricardo
        background-position: 0 14%
      &.brett
        background-position: 0 34.5%
      &.bob
        background-position: 0 55.8%
      &.brian
        background-position: 0 45.4%
      &.ryan
        background-position: 0 66.3%
      &.sean
        background-position: 0 87.2%
      &.andy
        background-position: 0 76.6%
      &.waldo
        background-position: 0 97.5%


.recap-section
  background-color: $c_subtle_gray
  padding-bottom: 0

  .shop-btn
    @media only screen and (max-width: $xs)
      min-width: 320px

  h2
    padding-top: 5px
    margin-bottom: 10px
    font-size: 1.8em
    line-height: 1.2em
    font-weight: bold
    color: $c_jumbo_grey

    @media only screen and (max-width: $xs)
      font-size: 1.6em

  p
    font-size: 1rem
    margin-bottom: 0

    @media only screen and (max-width: $xs)
      max-width: 320px
      margin: 10px auto 10px auto

    &.lead
      font-size: 1.05rem
      margin-bottom: 20px

  h3
    padding-top: 5px
    padding-bottom: 5px
    margin-bottom: 0
    font-size: 1.1em
    font-weight: bold
    color: $c_jumbo_grey

  .badge
    text-align: left
    padding-left: 0
    padding-bottom: 7px
    padding-top: 40px

    @media only screen and (max-width: $sm)
      text-align: center

  .devices
    img
      width: 90%
      max-width: 90%
      margin-top: 60px

      @media only screen and (max-width: $sm)
        display: none

    h3
      font-size: 1.6em
      margin-top: 115px

      @media only screen and (max-width: $md)
        margin-top: 95px
        font-size: 1.4em

      @media only screen and (max-width: $sm)
        margin-top: 30px


    a
      margin-top: 110px

      @media only screen and (max-width: $md)
        margin-top: 85px

      @media only screen and (max-width: $sm)
        margin: 20px 0 40px 0



.subscribe-section
  width: 100%
  height: 450px
  background-image: url("/static/images/subscribe.png")
  background-repeat: no-repeat
  color: $c_white
  padding-top: 110px
  +background-size(cover)

  @media only screen and (max-width: $sm)
    padding-top: 70px

  @media only screen and (max-width: $xs)
    padding-top: 80px

  h2
    font-weight: bold
    margin-bottom: 20px

    @media only screen and (max-width: $xs)
      font-size: 1.7em

  .email-form
    width: 100%
    max-width: 320px
    height: 54px
    padding-left: 20px
    border-radius: 4px
    border: 0px solid white
    background: $c_white
    margin: 20px 0 10px 0

    @media only screen and (max-width: $sm)
      max-width: 460px

    @media only screen and (max-width: $xs)
      max-width: 320px

  .subscribe-btn
    @media only screen and (max-width: $sm)
      min-width: 460px

    @media only screen and (max-width: $xs)
      min-width: 320px

  .agree
    font-size: 0.9rem
    padding-left: 10px

    a
      color: $c_white
      text-decoration: underline

    a:hover
      color: $c_green

.devs-section
  padding-top: 130px
  padding-bottom: 160px

  .btn
    @media only screen and (max-width: $xs)
      min-width: 320px

  .spacing
    @media only screen and (max-width: $xs)
      margin-top: 10px

  h2
    margin-top: 10px
    margin-bottom: 15px
    font-size: 1.8em
    line-height: 1.2em
    font-weight: bold
    color: $c_jumbo_grey

  a
    min-width: 250px
    +box-shadow(0)

  p
    font-size: 1rem
    margin-bottom: 0

    &.lead
      font-size: 1.05rem
      max-width: 600px
      margin: 0 auto
      margin-bottom: 20px

.comparison-section
  padding-top: 40px

  .badges
    width: 80%

    img
      height: 24px

  .list
    line-height: 1.5em
    vertical-align: baseline

    img
      margin-right: 10px

  .btn
    @media only screen and (max-width: $md)
      min-width: 630px

    @media only screen and (max-width: $sm)
      min-width: 450px

    @media only screen and (max-width: $xs)
      min-width: 320px

  h2
    font-size: 1.8em
    font-weight: bold

  .lead
    font-size: 1.1em

    @media only screen and (min-width: $sm)
      margin-bottom: 40px

  .label
    font-weight: bold
    position: relative

    @media only screen and (min-width: $md)
      display: flex
      align-items: center
      justify-content: center

    img
      margin: 0 14px 0 20px
      height: 32px
      &:first-child
        margin-left: 0
        
    .label-img
      position: absolute
      right: -40px
      +transform(scale(0.8, 0.8))
      @media only screen and (max-width: $lg)
        right: -70px !important

  .comparison
    background-color: $c_white
    +box-shadow(0 4px 24px rgba(0, 0, 0, 0.12))
    border-radius: 6px
    padding: 30px 10px 30px 10px
    text-align: center

  .comparison + .comparison
    margin-top: 4rem

  .comparison dl
    margin: 1em 0
    padding: 1em 0 0 0

    .badges
      width: 100%
      img
        margin-left: 10px

    dd
      margin-bottom: 1.4em
      font-size: 1.4em
      padding-bottom: 30px
      border-bottom: 1px solid $c_subtle_gray

    dt
      font-weight: 400
      color: $c_grey
      margin-bottom: 10px

    .price
      font-weight: bold
      font-size: 1.8em

  .comparison-header
    .label img
      width: 20px
    .label .label-img
      width: 125px

  .comparison-table-header-sticky
    //display: none
    z-index: 3
    transform: translateY(-100%)
    transition: transform 0.3s ease

    @media only screen and (max-width: $md)
      display: none !important

    &:not(.active)
      height: 0
      overflow: hidden

    .inner
      display: flex
      width: 1110px
      max-width: 100%
      margin: 0 auto

    &.active
      transform: translateY(0)
      display: block
      position: fixed
      top: 0
      left: 0
      width: 100%
      background: #fff
      padding: 1rem 0
      border-bottom: 1px solid #ddd

      .label-img
        right: -170px

    .empty-cell
      width: 452px
    .label + .label
      margin-left: 278px
