.start
  background-color: $c_subtle_gray

  .thank-intro
    padding: 2% 0 2% 0

  .nav-link
    background-color: $c_white
    padding: 70px 70px 30px 70px
    margin-top: 20px
    min-height: 400px
    font-weight: bold
    color: $c_grey_font

    +transition(all 0.15s ease 0s)
    +box-shadow(0 1px 6px 0 rgba(218, 218, 218, 1))
    +border-radius(4px)

    p
      color: $c_grey_font

      @media only screen and (max-width: $md)
        font-size: 0.9em
    h3
      @media only screen and (max-width: $md)
        font-size: 1.3em

      @media only screen and (max-width: $sm)
        font-size: 1.2em
    i
      margin-bottom: 6px
      font-size: 1.6em
      clear: both
      display: block

    &:hover
      +box-shadow(0 6px 24px 0 rgba(0, 0, 0, 0.15))
