.usage-section
  padding: 0 !important
  position: relative
  display: block
  width: 100%
  min-height: 100%

  .badge
    width: 100%
    padding: 20px 20px 0 20px
    position: relative
    display: block
    text-align: center

  .slider a
    color: $c_grey

  .quote
    font-size: 2.8em
    font-weight: 100
    font-style: italic

  .half-shadow
    display: block
    position: absolute
    width: 50%
    height: 100%
    background-color: $c_subtle_gray
    z-index: 0

  .container
    z-index: 1

  .row
    display: flex

  .entry
    padding-top: 2em
    flex: 1

    h3
      padding-top: 14px
      padding-bottom: 12px
      margin-bottom: 0
      font-size: 1.8em
      line-height: 1.2em
      font-weight: bold
      color: $c_jumbo_grey

    .lead
      max-width: 80%
      font-size: 1rem
      margin: 0 auto
      padding-bottom: 4em
      padding-top: 0

    img
      max-width: 100%

  .bg-devices
    background-image: url("/static/images/devices.png")
    background-size: 50% auto
    background-repeat: no-repeat
    background-position: center bottom


.features-section
  padding-bottom: 0

  h2
    padding-top: 5px
    margin-bottom: 10px
    font-size: 1.8em
    line-height: 1.2em
    font-weight: bold
    color: $c_jumbo_grey

  p
    font-size: 1rem
    margin-bottom: 0

    &.lead
      font-size: 1.05rem

  h3
    padding-top: 14px
    padding-bottom: 12px
    margin-bottom: 0
    font-size: 1.1em
    font-weight: bold
    color: $c_jumbo_grey

  .perspective
    max-width: 70%
    margin: 0 auto
    display: block
    padding-top: 50px

  .badge
    text-align: left
    padding-left: 0
    padding-bottom: 0
    padding-top: 30px

.lost-section
  background-color: $c_white
  padding-bottom: 10px

  .heading
    padding-top: 20px
    padding-bottom: 90px

  h2
    padding-top: 5px
    margin-bottom: 10px
    font-size: 1.8em
    line-height: 1.2em
    font-weight: bold
    color: $c_jumbo_grey

  .seed-card
    max-width: 100%
    position: absolute
    top: -110px

  h3
    padding-top: 5px
    padding-bottom: 5px
    margin-bottom: 0
    font-size: 1.1em
    font-weight: bold
    color: $c_jumbo_grey

  .badge
    text-align: left
    padding-left: 0
    padding-bottom: 7px
    padding-top: 30px

  p
    font-size: 1rem
    margin-bottom: 0

    &.lead
      font-size: 1.05rem

  .foot
    padding-top: 50px
    padding-bottom: 20px

.media-section
  h2
    padding-top: 5px
    margin-bottom: 10px
    font-size: 1.8em
    line-height: 1.2em
    font-weight: bold
    color: $c_jumbo_grey

  p
    font-size: 1rem
    margin-bottom: 0

    &.lead
      font-size: 1.05rem


.community-section
  padding-top: 0

  h3
    padding-top: 14px
    padding-bottom: 12px
    margin-bottom: 0
    font-size: 1.1em
    font-weight: bold
    color: $c_jumbo_grey

  q
    padding-top: 20px
    padding-bottom: 30px
    color: $c_nav_grey
    font-size: 1.5em
    font-style: italic
    font-weight: 200
    display: block
    max-width: 80%
    margin: 0 auto
    text-rendering: optimizeLegibility
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif

  .community

    h5
      font-size: .9em
      padding-bottom: 20px

    .header
      width: 100%
      max-width: 40px
      max-height: 40px

      overflow: hidden
      position: relative
      margin: 0 auto
      margin-bottom: 8px
      background: url("/static/images/customers_faces/customers.png") no-repeat
      background-size: 40px
      +border-radius(50%)

      &:after
        content: ""
        display: block
        padding-bottom: 100%

      &.moulder
        background-position: 0 2.5%
      &.rubens
        background-position: 0 24.5%
      &.ricardo
        background-position: 0 14%
      &.brett
        background-position: 0 34.5%
      &.bob
        background-position: 0 55.8%
      &.brian
        background-position: 0 45.4%
      &.ryan
        background-position: 0 66.3%
      &.sean
        background-position: 0 87.2%
      &.andy
        background-position: 0 76.6%
      &.waldo
        background-position: 0 97.5%

