%primaryTable
  .divider 
    background: #ffffff
  .divider hr
    margin: 0
    height: 20px
    border: none
    background: #fff

  tbody tr:nth-of-type(odd):not(.divider)
    background: #fafafa
    

.table-primary
  @extend %primaryTable
    
    